.space-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  text-align: center;
}

.font-small {
  font-size: small;
}

.album-card {
  align-items: center;
  width: 120px;
}

.track-listing {
  text-align: center;
}
